# CAP ui5-cv-generator
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/
resources/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

dist/
bundle/
out/
coverage/

# @ui5/ts-interface-generator files
*.gen.d.ts

*.txt
pdf/
img/
mockData/
/certifications/
